.home {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 100px;
    text-align: center;

    @media (min-width: $lg) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 150px;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &__text {
    word-break: break-word;

    @media (min-width: $lg) {
      max-width: 40%;
    }

    &__subtitle {
      font-weight: bold;
      font-family: 'Roboto Mono', serif;
      text-align: justify;
      margin-bottom: 5px;
      margin-left: 20px;
      margin-right: 20px;

      @media (min-width: $lg) {
        font-size: 32px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__content {
      font-family: 'Roboto', serif;
      text-align: justify;
      margin-left: 20px;
      margin-right: 20px;

      @media (min-width: $lg) {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__button {
      color: $white;
      background: $dark-pink;
      font-weight: bold;
      text-transform: lowercase;
      margin-top: 15px;

      @media (min-width: $lg) {
        margin-top: 30px;
      }
    }
  }

  &__img-wrapper {
    img {
      border-radius: 2px;
      object-fit: cover;
      object-position: bottom;
      width: 90%;
      height: 200px;
      margin-top: 20px;

      @media (min-width: $sm) {
        width: 80%;
        height: 250px;
      }

      @media (min-width: $lg) {
        width: 500px;
        height: 300px;
      }
    }
  }
}